:root {
    --clr-1: #000046;
    --clr-2: #080a57;
    --clr-3: #111568;
    --clr-4: #191f79;
    --clr-5: #21298a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-image: url('../bg.jpg');
    /* background: linear-gradient(-32.5deg, var(--clr-1), var(--clr-4), var(--clr-5),var(--clr-3)); */
    /* background-color: var(--clr-5); */
   background-size: cover;
   background-position: center;
   backdrop-filter: blur(4px);
}

header {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    align-items: center;
    /* border: 1px solid red; */
    color: white;
    cursor: default;
    user-select: none;
}

.wrapper {
    position: relative;
    display: inherit;
    flex-flow: inherit;
    align-items: inherit;
}

.wrapper h1 {
    font-size: 120px;
    font-weight: bold;
    text-shadow: 0px 5px 5px var(--clr-5);
    z-index: 1;
}

.hand-shake {
    font-size: 90px;
    position: absolute;
    z-index: 0;
    top: 50%;
    transform-origin: center;
    /* text-shadow: 0px 0px 10px white; */
    transition: all .5s ease;
}

.hand-shake:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.45);
    font-size: 85px;
}

header h2 {
    color: white;
    font-style: italic;
}

header h2 span {
    font-size: 25px;
    font-style: normal;
    text-shadow: 0px 0px 8px var(--clr-5);
}


main {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
    margin-top: 2rem;
    padding: 5px;
}

main h2 {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.search-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 80px;
    width: 55%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 5px 8px var(--clr-1);
    transition: all .5s ease-in-out;
    /* outline: none; */
}

.search-container:focus-within {
    box-shadow: none;
    outline: 8px solid var(--clr-1);
}

#search-bar {
    background-color: transparent;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    color: var(--clr-1);
    padding-left: 5%;
}

#search-button {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 35%;
    padding: 1%;
    right: 0;
    margin-right: 5%;
    font-size: 30px;
    cursor: pointer;
    background-color: var(--clr-5);
    transition: all .5s ease;
    text-align: center;
    box-shadow: 0px 3px 2px var(--clr-2);
    transform-origin: center;
}

#search-button:hover {
    background-color: var(--clr-3);
    font-size: 25px;
    border-radius: 50%;
    padding: 1.5%;
    box-shadow: 0px 0px 2px var(--clr-2);
}

.response-container {
    display: inline-block;
    position: relative;
    /* border: 1px solid rgb(187, 151, 151); */
    margin-top: 35px ;
    width: 60%;
    text-align: start;
    background: linear-gradient(to left, rgb(249, 255, 135), rgb(0, 200, 255) 50%);
    /* background: rgb(147, 197, 255); */
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 7px gray;
}

.hidden {
    display: none;
}


.response-container h3 {
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.response-title {
    font-size: 35px;
}

#cards-container {
    position: absolute;
    width: 100%;
    height: 100%;
}